/* Add application styles & imports to this file! */

// =========================
// Global
// =========================
@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #2c2e83;
  font-family: "Montserrat", sans-serif;
}
