/* Add application styles & imports to this file! */

// =========================
// Global
// =========================

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #2c2e83;
}
