/* Add application styles & imports to this file! */

// =========================
// Global
// =========================
@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #101118;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: block;
  height: 90vh;
  width: 90vw;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
